/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/custom";
@import "src/assets/styles/buttons";
html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-body;
    overflow-x: hidden;
}
  
.ant-modal-confirm .ant-modal-confirm-btns {
    display: none;
}

.ant-modal-confirm-body>.anticon+.ant-modal-confirm-title+.ant-modal-confirm-content {
  margin: 0;
}

.ant-modal-confirm-info .ant-modal-confirm-body>.anticon {
display: none;
}

.ant-modal-confirm .ant-modal-body {
  padding: 0;
}

.ant-message .anticon {
  vertical-align: 0;
  top: 0;
}

.custom_input {
  border: 1px solid $darkGray;
  border-radius: 8px;
  color: $Sec_text_colour;
  background-color: $white;
  padding: 0.7rem 0.5rem;
  width: 100%;
  &::placeholder {
    color: $darkGray;
  }

  &:focus-visible {
    border: 1px solid $active_item;
    color: $Sec_text_colour;
  }

  &.disabled {
    pointer-events: none;
  }
}

input.ng-touched.ng-invalid
{
  border: 1px solid $error;
  color: $error;
}
.clr-error {
  color: $error;
}