@import "./variables";

.btn_primary {
    background-color: $darkGray;
    border-radius: 5px;
    padding: 0.5rem 1.25rem;
    color: $white;
    transition: $transitionFast;
    outline: none;
    box-shadow: none;
    border: none;
    width: max-content;
    // border: 1px solid $active_item;
  
    &:hover,
    &.active {
      background-color: $active_item;
      border-color: $active_item;
    }
  }

  .btn_secondary {
    border: 1px solid $active_item;
    border-radius: 5px;
    padding: 0.5rem 1.25rem;
    color: $active_item;
    font-weight: 500;
    background-color: transparent;
    transition: $transitionFast;
  
    &:hover,
    &.active {
      background-color: $Hover_item;
      color: $white;
      border-color: $Hover_item;
    }
  }