@import 'src/assets/styles/variables';

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 285px;
    height: 100%;
    background: $background;
    z-index: 99;
    transition: $transitionFast;
    border-right: #CCCCCC35 2px solid;
    overflow: auto;
    .sidenav_content {
        height: calc(100vh - 2rem);
        margin-top: 2rem;
        overflow-y: auto;
        .admin {
            font-size: $font-16;
            font-weight: 500;
        }
        .nav-list {
            position: relative;
            height: calc(100vh - 5.5rem);
            .list-item {
                list-style: none;
                padding: 5px 15px;
                a {
                    transition: all 0.3s ease-in-out;
                    border-radius: 10px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    color: $Sec_text_colour;
                    text-decoration: none;
                    font-size: $font-18;
                    &.active {
                        background-color: $gray;
                    }
                }
                &.logOut {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    a {
                        color: $error;
                        &:hover {
                            background-color: #f3333342;
                        }
                    }
                }
            }
        }  
    }
}