@import 'src/assets/styles/variables';

.container-table {
    .page-title {
        font-size: $font-24;
        font-weight: 700;
        color: $Sec_text_colour;
    }
    .avatar {
        width: 4rem;
        border-radius: 50%;
        overflow: hidden;
        height: 4rem;
    }
    .img-team {
        width: 10rem;
    }
}